.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #f7fafc;
  position: relative;
  min-height: 100%;
  margin: 0px;
  font-feature-settings: "kern";
}
:where(*) {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
}