.SleepPage .button {
  display: flex;
}
.SleepPage .button button {
  flex: 1;
}
h1 {
  font-size: 1.875rem;
  text-align: left;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  opacity: 0.8;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #00A3C4
}
.css-1bpnzr3 {
  margin-top: 2.5rem;
}
.css-k2eq80 {
  background: #00B5D8;
  padding-top: 6rem;
  padding-bottom: 5rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}
.css-1cgbrw5 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.css-b5coes {
  line-height: 1.2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* color: #00B5D8; */
  font-weight: 800;
  font-size: 3rem;
}
.css-vpbd2d {
  display: flex;
  max-width: 1680px;
  margin-inline: auto;
}
.css-1qfrez2 {
  display: flex;
  margin-top: 4rem;
  max-width: 1680px;
  margin-inline: auto;
  width: 100%;
}

.css-uiodal {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-inline: auto;
  flex: 1 1 0%;
}
.SleepPage .nutrition-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.css-j7qwjs {
  display: flex;
  flex-direction: column;
}
.SleepPage .css-hzsul0 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 2.5rem;
  color: #0BC5EA;
}
.SleepPage .button {
  display: flex;
}
.css-spn4bz {
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: inherit;
}
.SleepPage .css-ez23ye {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: 200ms;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #0BC5EA;
  width: 378px
}

.record-sleep-button{
  color: white;
  text-decoration: none;
}

.SleepPage .button button {
  flex: 1;
}
.css-ni3ua3 {
  object-fit: cover;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
}

.SleepPage .css-15a3bhq {
  font-size: 2.25rem;
  line-height: 1.2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 700;
  color: #0BC5EA;
}
.SleepPage .css-1nrq84c {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: 200ms;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #0BC5EA;
  color: white;
  border-radius: 0px;
  width: 100%;
}






.css-xixnl8 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}
.css-89mcmc {
  font-size: 0.875rem;
  color: #022b69;
}
.css-56yjmq {
  display: flex;
  margin-bottom: 2.5rem;
}
.css-en15ln {
  border-radius: 9999px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  flex-shrink: 0;
  background: #940c00;
  font-size: calc(3rem / 2.5);
  color: white;
  border-color: white;
  vertical-align: top;
  width: 3rem;
  height: 3rem;
  --avatar-border-color: white;
  --avatar-size: 3rem;
  --avatar-font-size: calc(3rem / 2.5);
}
.css-1ebyn6 {
  font-size: calc(3rem / 2.5);
  line-height: 1;
}
.css-1kw2fa0 {
  margin-left: 0.75rem;
}
.css-y5314g {
  font-size: 2.25rem;
  line-height: 1.2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 2.25rem;
    
    color: white;
}
.css-lvvibp {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
  text-transform: uppercase;
  border-radius: 0.125rem;
  font-weight: 2.25rem;
  background: #C6F6D5;
  color: #22543D;
  margin-left: 0.25rem;
  font-size: 0.9rem;
}
.css-1lekzkb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-1mbo1ls {
  position: relative;
  flex: 1 1 0%;
}
.css-14go5ty {
  font-weight: 500;
  font-size: 0.875rem;
}
.css-1axeus7 {
  vertical-align: baseline;
  font-weight: 600;
  font-size: 1.5rem;
  font-variant-numeric: proportional-nums;
}
.css-faxls7 {
  border-radius: 9999px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  flex-shrink: 0;
  background: #940c00;
  font-size: calc(3rem / 2.5);
  color: white;
  border-color: white;
  vertical-align: top;
  width: 3rem;
  height: 3rem;
}

.css-sxxv4f {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #0BC5EA;
}